
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    font-family: 'Work Sans', sans-serif;
    --color-azul: #2b6fdd;
    --color-azul-boton: #2949c7;
    --color-azul-boton-claro: #f1f5ff;

    --color-amarillo: #ffd012;
    --color-amarillo-claro: #fffae4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin-bottom: 120px;
}

nav{
    position: fixed;
    width: 100%;
    padding: 35px 0;
    transition: all 0.4s ease;
    z-index: 998;
    background-color: rgba(255, 255, 255,.9);
}

nav .sticky{
    padding: 15px 0;
    background-color: #2949c7;
}

nav .navbar{
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo{
    width: 80px;
}

nav .navbar .logo a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-azul);
}

nav .navbar .menu{
    display: flex;
}

nav .navbar .menu li{
    text-decoration: none;
    margin: 0 25px;
    list-style: none;
}

nav .navbar .menu li a{
    font-size: 18px;
    font-weight: 600;
    color: #707e95;
    text-decoration: none;
}

nav .navbar .boton a{
    padding: 15px 30px 15px;
    border-radius: 8px;
    background-color: var(--color-azul-boton);
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 2s ease-out 100ms;
}

nav .navbar .boton a:hover{
    background-color: var(--color-azul-boton-claro);
    color: var(--color-azul-boton);
    border-color: var(--color-azul-boton);
}

nav.sticky .navbar .menu li a{
    color: #000000;
}

nav.sticky .navbar .menu li a:hover{
    color: #000000;
}

.inicio {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.inicio .inicio-contenido{
    height: 120%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.inicio .inicio-contenido .texto{
    padding-top: 20%;
    width:50%;
    margin-bottom: 35px;
}

.inicio .inicio-contenido .texto h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.inicio .inicio-contenido .texto p{
    width:60%;
    font-size: 20px;
    margin-bottom: 30px;
}

.inicio .inicio-contenido .texto i{
    padding: 10px 10px 10px;
    border-radius: 5px;
    color: var(--color-amarillo);
    font-size: 20px;
    margin-left: 15px;
    background-color: var(--color-amarillo-claro);
}

.inicio .inicio-contenido .inicio-img{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
}

.inicio .inicio-contenido .inicio-img img{
    width: 100%;
    height: 120%;
}

.inicio .inicio-contenido .inicio-cuadro{
    position:flex;
    width: 100%;
    height: 100%;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-titulo{
    margin-bottom: 20px;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-titulo p{
    font-size: 20px;
    font-weight: 700;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-titulo i{
    padding: 10px 10px 10px;
    border-radius: 5px;
    color: var(--color-azul-boton);
    font-size: 20px;
    background-color: var(--color-azul-boton-claro);
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-contenido{
    width: 80%;
    position: relative;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255,1);
    padding: 50px 50px 50px;
    border-radius: 25px;
    box-shadow: 5px 10px 8px 10px rgba(43, 111, 221, .1);
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-contenido .cuadro-info p{
    font-size: 20px;
    font-weight: 500;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-contenido .cuadro-info i{
    padding: 10px 10px 10px;
    border-radius: 5px;
    color: var(--color-azul-boton);
    font-size: 20px;
    background-color: var(--color-azul-boton-claro);
    margin-bottom: 10px;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-contenido .cuadro-info h1{
    padding-left: 40px;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-contenido .cuadro-boton a{
    padding: 15px 30px 15px;
    border-radius: 8px;
    background-color: var(--color-azul-boton);
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 2s ease-out 100ms;
}

.inicio .inicio-contenido .inicio-cuadro .cuadro-contenido .cuadro-boton a:hover{
    background-color: var(--color-azul-boton-claro);
    color: var(--color-azul-boton);
    border-color: var(--color-azul-boton);
}

.vacunas{
    width: 100%;
    height: 100%;
}

.vacunas .vacunas-contenido{
    padding-left: 10%;
}

.vacunas .vacunas-contenido .lista-vacunas{
    padding-left: 5%;
    padding-right: 5%;
}

.vacunas .vacunas-contenido .lista-vacunas img{
    margin-right: 50px;
    -webkit-filter: grayscale(.8);
    filter: gray;
    filter: grayscale(1); 
    opacity: .3;
    transition: opacity 2s ease-out 100ms;
}

.vacunas .vacunas-contenido .lista-vacunas img:hover{
    filter: grayscale(0);
    opacity: 1;
}

.informacion .informacion-contenido{
    padding-left: 10%;
}

.informacion .informacion-contenido .informacion-textos{
    width: 50%;
    margin-bottom: 50px;
}

.informacion .informacion-contenido .informacion-textos h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.informacion .informacion-contenido .informacion-textos p{
    font-size: 20px;
}

.informacion .informacion-contenido .informacion-cuadros .cuadro-info{
    width: 20%;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #d3e0f5;
    border-radius: 20px;
    padding: 35px 35px 35px;
    margin-right: 20px;
}

.informacion .informacion-contenido .informacion-cuadros .cuadro-info:hover{
    box-shadow: 5px 10px 8px 10px rgba(43, 111, 221, .1);
    transition: box-shadow 1s ease-out;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

.informacion .informacion-contenido .informacion-cuadros .cuadro-info i{
    padding: 15px 15px 15px;
    border-radius: 5px;
    color: var(--color-azul-boton);
    font-size: 35px;
    background-color: var(--color-azul-boton-claro);
    margin-bottom: 15px;
}
.informacion .informacion-contenido .informacion-cuadros .cuadro-info h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.informacion .informacion-contenido .informacion-cuadros .cuadro-info p{
    font-size: 15px;
}

.ventajas{
    margin-bottom: 70%;
}
.ventajas .ventajas-contenido{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

.ventajas .ventajas-contenido .ventajas-textos{
    text-align: right;
    width: 60%;
    position: relative;
    right: -40%;
}

.ventajas .ventajas-contenido .ventajas-textos h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.ventajas .ventajas-contenido .ventajas-textos p{
    font-size: 20px;
}

.ventajas .ventajas-contenido .ventajas-img{
    width: 50%;
    position: absolute;
}

.ventajas .ventajas-contenido .ventajas-img img{
    width: 80%;
    height: 50%;
    padding-top: 25%;
}

.ventajas .ventajas-contenido .ventajas-menu{
    padding-top: 3%;
    width: 37%;
    position: absolute;
    right: 0px;
    margin-right: 10%;
    margin-top: 10%;
}

.ventajas .ventajas-contenido .ventajas-menu .cuadro.menu{
    width: 70%;
    margin-left: 25px;
}

.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .collapsible{
    background-color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #d3e0f5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(43, 111, 221, .1);
}

.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .collapsible i{
    padding: 10px 10px 10px;
    border-radius: 5px;
    color: var(--color-azul-boton);
    font-size: 18px;
    background-color: var(--color-azul-boton-claro);
}

.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .active, 
.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .collapsible:hover {
    background-color: #ffffff;
}
  
.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .collapsible:after {
    content: '\f0d7';
	font-family: 'FontAwesome';
    color: var(--color-azul);
    font-weight: bold;
    font-size: 25px;
    float: right;
    padding-top: 1%;
    margin-left: 15px;
}
  
.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .active:after {
    content: "\f0d8";
}
  
.ventajas .ventajas-contenido .ventajas-menu .cuadro-menu .content{
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
    margin-bottom: 25px;
    overflow: hidden;
}

.emergencia .emergencia-contenido{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

.emergencia .emergencia-contenido .emergencia-textos{
    width: 50%;
    margin-bottom: 3%;
}

.emergencia .emergencia-contenido .emergencia-textos h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.emergencia .emergencia-contenido .emergencia-textos p{
    font-size: 20px;
}

.emergencia .emergencia-contenido .emergencia-cuadros{
    width: 50%;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro{
    width: 44%;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #d3e0f5;
    border-radius: 10px;
    padding: 20px 20px 20px;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro:hover{
    box-shadow: 5px 10px 8px 10px rgba(43, 111, 221, .1);
    transition: box-shadow 1s ease-out;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro i{
    padding: 15px 15px 15px;
    border-radius: 10px;
    color: var(--color-azul-boton);
    font-size: 30px;
    background-color: var(--color-azul-boton-claro);
    margin-bottom: 35px;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro .textos{
    display: inline-block;
    position: absolute;
    padding: 10px 10px 10px;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro .textos h2{
   font-size: 22px;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro .textos p{
    font-size: 16px;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro .boton {
    padding-bottom: 15px;
}

.emergencia .emergencia-contenido .emergencia-cuadros .cuadro .boton a{
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px 30px 15px;
    border-radius: 8px;
    background-color: var(--color-azul-boton);
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 2s ease-out 100ms;
}

.emergencia .emergencia-contenido .emergencia-img{
    width: 40%;
    height: 80%;
    position: absolute;
    right: 0px;
}

.emergencia .emergencia-contenido .emergencia-img img{
    padding-left: 50px;
    width: 80%;
    height: 100%;
}

footer{
    background-color: #eef3ff;
}

.footer .footer-contenido{
    display: grid;
    grid-template-columns: 40% 18% 18% 18%;
    gap: 50px;
    width: 100%;
    padding-left: 10%;
}

.footer .footer-contenido .info-principal{
    width:40%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer .footer-contenido .info-principal a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-azul);
}

.footer .footer-contenido .info-principal p{
    margin-top: 20px;
}

.footer .footer-contenido .lista{
    width: 50%;
    display: inline-block;
    position: flex;
    padding-top: 40px;
    right: 0px;
}

.footer .footer-contenido .lista a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 10px;
}

.footer .footer-contenido .final{
    width:100%;
    background-color: #eef3ff;
    grid-template-columns: 50% 50%;
    padding-bottom: 50px;
}

.footer .footer-contenido .final-fecha p{
    position: absolute;
    left: 10%;
}

.footer .footer-contenido .final-terminos p{
    position: absolute;
    right: 10%;
    z-index: 1;
}

.footer .footer-contenido .triangulo{
    position: absolute;
    background: transparent;
    margin-top: 7%;
    right: 10%;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid #e2e9f9;
}
